In [1]:
import numpy as np
import pandas as pd
from scipy import stats
from matplotlib import pyplot as plt

In [2]:
sample = pd.read_excel("./sample.xlsx")
sample.head()

  Medicine  Effect  Problem
0        A    0.62     0.11
1        A    0.77     0.05
2        A    0.33     0.16
3        A    0.27     0.89
4        A    0.84     0.77

In [3]:
sampleA = sample['Medicine'] == 'A'
sampleB = sample['Medicine'] == 'B'
sampleC = sample['Medicine'] == 'C'
sampleA = sample[sampleA]
sampleB = sample[sampleB]
sampleC = sample[sampleC]
sampleA.head()
sampleB.head()
sampleC.head()

   Medicine  Effect  Problem
10        C    0.72     0.33
11        C    0.13     0.31
12        C    0.09     0.42
13        C    0.57     0.55
14        C    0.44     0.66

In [4]:
import operator
sampleA_Effect = sampleA["Effect"].mean()
sampleA_Problem = sampleA["Problem"].mean()
sampleB_Effect = sampleB["Effect"].mean()
sampleB_Problem = sampleB["Problem"].mean()
sampleC_Effect = sampleC["Effect"].mean()
sampleC_Problem = sampleC["Problem"].mean()
sample_mean_effect = {'A':sampleA_Effect,'B':sampleB_Effect,'C':sampleC_Effect}
sample_mean_problem = {'A':sampleA_Problem,'B':sampleB_Problem,'C':sampleC_Problem}
sample_mean_problem = sorted(sample_mean_problem.items(),key=operator.itemgetter(1),reverse=True)

print(sample_mean_effect)
for i in range(3):
    print(sample_mean_problem[i][0])

{'A': 0.5660000000000001, 'B': 0.274, 'C': 0.38999999999999996}
C
A
B

In [5]:
sample.rename(columns = {'Medicine':'dd'},inplace = True)
sample.head()

  dd  Effect  Problem
0  A    0.62     0.11
1  A    0.77     0.05
2  A    0.33     0.16
3  A    0.27     0.89
4  A    0.84     0.77

In [6]:
sorted_by_values = sample.sort_values(by='Effect' ,ascending=True)
sorted_by_values.head()

   dd  Effect  Problem
12  C    0.09     0.42
6   B    0.13     0.77
11  C    0.13     0.31
5   B    0.15     0.13
8   B    0.18     0.10